<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Map</title>
    <script src="/main.js"></script>
    <link rel="stylesheet" href="/style.css">.
    <script th:src="'https://api-maps.yandex.ru/2.1/?apikey=' + ${keyAPI} + '&lang=ru_RU'"></script>
</head>

<body>
<div id="map" style="z-index: 1"></div>
<div id="json-data" th:text="${jsonData}" style="display:none;"></div>
<script>
    var myMap
    ymaps.ready(init);
    function init(){
        myMap = new ymaps.Map("map", {
            center: [55.159902, 61.402556],
            controls: ["searchControl", "geolocationControl","zoomControl","fullscreenControl","trafficControl","typeSelector"],
            zoom: 10
        });

        addMarkersToMap(myMap)
    }

    function addMarkersToMap(map) {
        // Загрузка данных из JSON файла
        fetch('bd.json')
            .then(response => response.json())
            .then(data => {
                // Перебор элементов в массиве данных
                data.forEach(item => {
                    // Создание метки на карте
                    const marker = new ymaps.Placemark(
                        [item.Latitude, item.Longitude],
                        {
                            balloonContentBody: item.Description,
                            balloonContentHeader: item.Label,
                            recyclingType: item.RecyclingType.split(',')
                        }
                    );

                    // Добавление метки на карту
                    map.geoObjects.add(marker);
                });
            });
    }

    function addMarkersToMapFilter(map, num) {
        myMap.geoObjects.removeAll();
        // Загрузка данных из JSON файла
        fetch('bd.json')
            .then(response => response.json())
            .then(data => {
                // Перебор элементов в массиве данных
                data.forEach(item => {
                    // Создание метки на карте
                    const marker = new ymaps.Placemark(
                        [item.Latitude, item.Longitude],
                        {
                            balloonContentBody: item.Description,
                            balloonContentHeader: item.Label,
                            recyclingType: item.RecyclingType.split(',')
                        }
                    );
                    // Добавление метки на карту
                    if(item.RecyclingType.split(',').map(Number).includes(num)) {
                        map.geoObjects.add(marker);
                    }
                });
            });
    }
</script>

<H1>Conscious consumption</H1>

<div>
    <ul class="list3a">
        <li><button class="my-button" onclick="addMarkersToMapFilter(myMap,1)">Бумага</button></li>
        <li><button class="my-button" onclick="addMarkersToMapFilter(myMap,2)">Пластик</button></li>
        <li><button class="my-button" onclick="addMarkersToMapFilter(myMap,3)">Стекло</button></li>
        <li><button class="my-button" onclick="addMarkersToMapFilter(myMap,4)">Металл</button></li>
        <li><button class="my-button" onclick="addMarkersToMapFilter(myMap,5)">Одежда</button></li>
        <li><button class="my-button" onclick="addMarkersToMapFilter(myMap,6)">Лампочки</button></li>
        <li><button class="my-button" onclick="addMarkersToMapFilter(myMap,7)">Крышечки</button></li>
        <li><button class="my-button" onclick="addMarkersToMapFilter(myMap,8)">Техника</button></li>
        <li><button class="my-button" onclick="addMarkersToMapFilter(myMap,9)">Батарейки</button></li>
        <li><button class="my-button" onclick="addMarkersToMapFilter(myMap,10)">Шины</button></li>
        <li><button class="my-button" onclick="addMarkersToMapFilter(myMap,11)">Опасное</button></li>
        <li><button class="my-button" onclick="addMarkersToMapFilter(myMap,12)">Тетра-пак</button></li>
        <li><button class="my-button" onclick="addMarkersToMapFilter(myMap,13)">Другое</button></li>
        <li><button class="my-button" onclick="addMarkersToMap(myMap)">Все</button></li>
        <li> <button class="my-button" onclick="myMap.geoObjects.removeAll();">Очистить</button></li>
    </ul>
</div>


</body>
</html>

